### 서울열린데이터관장 인증키 받아오기

In [7]:
import requests
import pandas as pd

In [8]:
SEOUL_API_AUTH_KEY = '*'
open_API = 'GangseoListLoanCompany'

# open_API = 'SearchDpenAPIService'

url = 'http://openapi.seoul.go.kr:8088/{}/json/{}/1/5'.format(SEOUL_API_AUTH_KEY, open_API)

url

'http://openapi.seoul.go.kr:8088/626864576b6a686a35326d75665975/json/GangseoListLoanCompany/1/5'

In [9]:
SEOUL_API_AUTH_KEY = '*'
open_API = 'GangseoListLoanCompany'

url = 'http://openapi.seoul.go.kr:8088/626864576b6a686a35326d75665975/json/gangnamRentCarInfo/1/5/'

url

'http://openapi.seoul.go.kr:8088/626864576b6a686a35326d75665975/json/gangnamRentCarInfo/1/5/'

In [ ]:
result_dict = requests.get(url).json()
sample_df = pd.DataFrame(result_dict['GangseoListLoanCompany']['row'])
sample_df

In [11]:
sgg_pop_df = pd.read_csv('C:/Users/jhjh3/class/datasalon-master/02_data_class/6_Starbucks_Location/files/report.txt', header = 2, sep = '\t')
sgg_pop_df

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2020.3/4,합계,"4,405,833","9,953,009","4,840,912","5,112,097","9,699,232","4,719,170","4,980,062","253,777","121,742","132,035",2.20,"1,552,356"
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
5,2020.3/4,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"
6,2020.3/4,동대문구,"167,232","358,679","176,433","182,246","344,416","170,748","173,668","14,263","5,685","8,578",2.06,"61,408"
7,2020.3/4,중랑구,"185,109","400,989","198,012","202,977","395,997","195,981","200,016","4,992","2,031","2,961",2.14,"68,658"
8,2020.3/4,성북구,"195,379","449,871","216,155","233,716","439,719","212,151","227,568","10,152","4,004","6,148",2.25,"73,370"
9,2020.3/4,강북구,"145,790","313,550","152,458","161,092","309,996","151,117","158,879","3,554","1,341","2,213",2.13,"62,951"
10,2020.3/4,도봉구,"139,029","329,300","160,526","168,774","327,248","159,723","167,525","2,052",803,"1,249",2.35,"61,388"
11,2020.3/4,노원구,"218,002","529,532","255,618","273,914","525,486","253,797","271,689","4,046","1,821","2,225",2.41,"84,612"
12,2020.3/4,은평구,"213,039","485,842","233,104","252,738","481,546","231,364","250,182","4,296","1,740","2,556",2.26,"84,353"
13,2020.3/4,서대문구,"144,494","323,860","153,763","170,097","313,212","149,993","163,219","10,648","3,770","6,878",2.17,"53,869"
14,2020.3/4,마포구,"178,495","383,494","179,899","203,595","373,508","176,011","197,497","9,986","3,888","6,098",2.09,"54,053"
15,2020.3/4,양천구,"180,309","460,048","225,596","234,452","456,240","223,889","232,351","3,808","1,707","2,101",2.53,"64,804"
16,2020.3/4,강서구,"266,366","589,536","284,747","304,789","583,544","281,951","301,593","5,992","2,796","3,196",2.19,"88,052"
17,2020.3/4,구로구,"179,792","435,751","217,380","218,371","405,579","200,268","205,311","30,172","17,112","13,060",2.26,"69,312"
18,2020.3/4,금천구,"113,887","249,641","127,292","122,349","232,157","117,489","114,668","17,484","9,803","7,681",2.04,"39,361"
19,2020.3/4,영등포구,"182,087","405,982","202,624","203,358","375,630","185,800","189,830","30,352","16,824","13,528",2.06,"60,826"
20,2020.3/4,동작구,"184,193","404,617","195,373","209,244","393,554","190,422","203,132","11,063","4,951","6,112",2.14,"64,674"
21,2020.3/4,관악구,"275,248","514,555","257,638","256,917","498,574","250,084","248,490","15,981","7,554","8,427",1.81,"78,206"
22,2020.3/4,서초구,"173,483","429,995","205,671","224,324","426,009","203,686","222,323","3,986","1,985","2,001",2.46,"59,495"
23,2020.3/4,강남구,"234,021","544,085","260,358","283,727","539,235","257,961","281,274","4,850","2,397","2,453",2.30,"73,942"
24,2020.3/4,송파구,"281,417","676,673","326,602","350,071","670,331","323,646","346,685","6,342","2,956","3,386",2.38,"92,149"
25,2020.3/4,강동구,"194,602","462,275","227,346","234,929","458,058","225,396","232,662","4,217","1,950","2,267",2.35,"68,798"

In [12]:
SEOUL_API_AUTH_KEY = '*'
service = 'GangseoListLoanCompany'
url = 'http://openapi.seoul.go.kr:8088/{}/json/{}/1/5'.format(SEOUL_API_AUTH_KEY, service)

def seoul_open_api_data(url, service):
    data_list = None
    
    try:
        result_dict = requests.get(url).json()
        result_data = result_dict[service]
        code = result_data['RESULT']['CODE']
        
        if code == 'INFO-000':
            data_list = result_data['row']
    
    except:
        pass
    
    return(data_list)

In [13]:
seoul_open_api_data(url, service)

[{'BSNS_SE': '대부업',
  'MNG_STATE_CODE': '영업중',
  'OLD_APV_NO': '2019-서울강서-00010(대부업)',
  'BUP_NM': '호주머니대부',
  'REP_NM': '김종성',
  'UPCHE_GBN': '개인',
  'WRKR_BUP_TELNO': '02-6225-6483',
  'WRKR_BUP_ADDR': '서울특별시 강서구 화곡동  379번지 4호  중앙하이츠-101',
  'WRKR_RD_FULL_ADDR': '서울특별시 강서구 화곡로24길 56, 101호 (화곡동, 중앙하이츠)',
  'WRKR_BUP_POST_NO': '',
  'APV_YMD': '20220126',
  'END_APV_YMD': '20250126',
  'LAST_CLS_YMD': '',
  'WRKR_ESBMNT_YMD': '20160304',
  'HOFF_YN': '본점',
  'LAST_MOD_YMD': '20220127'},
 {'BSNS_SE': '대부업',
  'MNG_STATE_CODE': '타시군구이관',
  'OLD_APV_NO': '2013-서울강서-00019(대부업)',
  'BUP_NM': '새한대부',
  'REP_NM': '김진표',
  'UPCHE_GBN': '개인',
  'WRKR_BUP_TELNO': '',
  'WRKR_BUP_ADDR': '서울특별시 강서구 가양동  14번지 51호  토피아',
  'WRKR_RD_FULL_ADDR': '서울특별시 강서구 화곡로 429, 토피아 402-3호 (가양동)',
  'WRKR_BUP_POST_NO': '',
  'APV_YMD': '20190225',
  'END_APV_YMD': '20220225',
  'LAST_CLS_YMD': '20220126',
  'WRKR_ESBMNT_YMD': '20070504',
  'HOFF_YN': '본점',
  'LAST_MOD_YMD': '20220126'},
 {'BSNS_SE': '대부중개업',
  'MNG_STATE_CODE': '폐업',
  'OLD_APV_NO': '2015-서울강서-00033(대부중개업)',
  'BUP_NM': '주식회사 론마음파트너스대부중개',
  'REP_NM': '김진영',
  'UPCHE_GBN': '법인',
  'WRKR_BUP_TELNO': '02-521-1012',
  'WRKR_BUP_ADDR': '서울특별시 강서구 등촌동  696번지  세신그린코아빌딩',
  'WRKR_RD_FULL_ADDR': '서울특별시 강서구 공항대로41길 51, 세신그린코아빌딩 9층 905호 (등촌동)',
  'WRKR_BUP_POST_NO': '',
  'APV_YMD': '20210712',
  'END_APV_YMD': '20240712',
  'LAST_CLS_YMD': '20220117',
  'WRKR_ESBMNT_YMD': '20150924',
  'HOFF_YN': '본점',
  'LAST_MOD_YMD': '20220118'},
 {'BSNS_SE': '대부업',
  'MNG_STATE_CODE': '폐업',
  'OLD_APV_NO': '2020-서울강서-0033(대부업)',
  'BUP_NM': '선유대부',
  'REP_NM': '김준영',
  'UPCHE_GBN': '개인',
  'WRKR_BUP_TELNO': '',
  'WRKR_BUP_ADDR': '서울특별시 강서구 가양동  14번지 51호  토피아빌딩',
  'WRKR_RD_FULL_ADDR': '서울특별시 강서구 화곡로 429, 토피아빌딩 4층 402-10호 (가양동)',
  'WRKR_BUP_POST_NO': '',
  'APV_YMD': '20201106',
  'END_APV_YMD': '20231106',
  'LAST_CLS_YMD': '20220117',
  'WRKR_ESBMNT_YMD': '20201106',
  'HOFF_YN': '본점',
  'LAST_MOD_YMD': '20220118'},
 {'BSNS_SE': '대부중개업',
  'MNG_STATE_CODE': '영업중',
  'OLD_APV_NO': '2021-서울강서-0036(대부중개업)',
  'BUP_NM': 'EU대부중개',
  'REP_NM': '최영우',
  'UPCHE_GBN': '개인',
  'WRKR_BUP_TELNO': '',
  'WRKR_BUP_ADDR': '서울특별시 강서구 마곡동  798번지 17호  ',
  'WRKR_RD_FULL_ADDR': '서울특별시 강서구 마곡중앙1로 10, 8층 801~810호 A31호 (마곡동)',
  'WRKR_BUP_POST_NO': '',
  'APV_YMD': '20210817',
  'END_APV_YMD': '20240817',
  'LAST_CLS_YMD': '',
  'WRKR_ESBMNT_YMD': '20210817',
  'HOFF_YN': '본점',
  'LAST_MOD_YMD': '20220105'}]

In [14]:
columns = {
    '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '계': 'GYE_1',
    '계.1': 'GYE_2',
    '계.2': 'GYE_3',
    '남자': 'NAMJA_1',
    '남자.1': 'NAMJA_2',
    '남자.2': 'NAMJA_3',
    '여자': 'YEOJA_1',
    '여자.1': 'YEOJA_2',
    '여자.2': 'YEOJA_3',
    '세대': 'SEDAE',
    '세대당인구': 'SEDAEDANGINGU',
    '65세이상고령자': 'N_65SEISANGGORYEONGJA'
}
sgg_pop_df.rename(columns = columns, inplace = True)
sgg_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GIGAN                  26 non-null     object
 1   JACHIGU                26 non-null     object
 2   SEDAE                  26 non-null     object
 3   GYE_1                  26 non-null     object
 4   NAMJA_1                26 non-null     object
 5   YEOJA_1                26 non-null     object
 6   GYE_2                  26 non-null     object
 7   NAMJA_2                26 non-null     object
 8   YEOJA_2                26 non-null     object
 9   GYE_3                  26 non-null     object
 10  NAMJA_3                26 non-null     object
 11  YEOJA_3                26 non-null     object
 12  SEDAEDANGINGU          26 non-null     float64
 13  N_65SEISANGGORYEONGJA  26 non-null     object
dtypes: float64(1), object(13)
memory usage: 3.0+ KB

In [15]:
sgg_pop_df['JACHIGU']

0       합계
1      종로구
2       중구
3      용산구
4      성동구
5      광진구
6     동대문구
7      중랑구
8      성북구
9      강북구
10     도봉구
11     노원구
12     은평구
13    서대문구
14     마포구
15     양천구
16     강서구
17     구로구
18     금천구
19    영등포구
20     동작구
21     관악구
22     서초구
23     강남구
24     송파구
25     강동구
Name: JACHIGU, dtype: object

In [16]:
condition = sgg_pop_df['JACHIGU'] != '합계'
sgg_pop_df_select = sgg_pop_df[condition]

In [17]:
sgg_pop_df_select.head()

,GIGAN,JACHIGU,SEDAE,GYE_1,NAMJA_1,YEOJA_1,GYE_2,NAMJA_2,YEOJA_2,GYE_3,NAMJA_3,YEOJA_3,SEDAEDANGINGU,N_65SEISANGGORYEONGJA
1,2020.3/4,종로구,"74,861","159,842","77,391","82,451","149,952","73,024","76,928","9,890","4,367","5,523",2.00,"28,396"
2,2020.3/4,중구,"63,594","135,321","66,193","69,128","125,800","61,526","64,274","9,521","4,667","4,854",1.98,"24,265"
3,2020.3/4,용산구,"112,451","244,953","119,074","125,879","229,786","110,604","119,182","15,167","8,470","6,697",2.04,"39,995"
4,2020.3/4,성동구,"136,096","302,695","147,582","155,113","295,591","144,444","151,147","7,104","3,138","3,966",2.17,"45,372"
5,2020.3/4,광진구,"166,857","361,923","174,077","187,846","348,064","168,095","179,969","13,859","5,982","7,877",2.09,"50,047"

In [18]:
sgg_pop_df_final = sgg_pop_df_select[['JACHIGU', 'GYE_1']]
sgg_pop_df_final

sgg_pop_df_final.columns = ['시군구명', '주민등록인구']
sgg_pop_df_final.head()

  시군구명   주민등록인구
1  종로구  159,842
2   중구  135,321
3  용산구  244,953
4  성동구  302,695
5  광진구  361,923

In [20]:
sgg_pop_df_final.to_excel('./sgg_pop_class.xlsx')

In [22]:
# ['시군구명', '종사자수','사업체수']

sgg_biz_df = pd.read_csv('C:/Users/jhjh3/class/datasalon-master/02_data_class/6_Starbucks_Location/files/report2.txt', header = 2, sep = '\t')
sgg_biz_df.head()

columns2 = {
    '기간': 'GIGAN',
    '자치구': 'JACHIGU',
    '동': 'DONG',
    '사업체수': 'SAEOPCHESU_1',
    '여성대표자': 'YEOSEONGDAEPYOJA',
    '계': 'GYE',
    '남': 'NAM',
    '여': 'YEO'
}

sgg_biz_df.rename(columns = columns2, inplace = True)
sgg_biz_df.head()

,GIGAN,JACHIGU,DONG,SAEOPCHESU_1,YEOSEONGDAEPYOJA,GYE,NAM,YEO,사업체수.1,종사자수,...,사업체수.15,종사자수.14,사업체수.16,종사자수.15,사업체수.17,종사자수.16,사업체수.18,종사자수.17,사업체수.19,종사자수.18
0,2018,합계,합계,"823,385","279,711","5,210,936","2,878,227","2,332,709",30,462,...,"1,282","140,121","35,377","346,219","28,824","378,366","23,025","91,104","69,694","191,423"
1,2018,종로구,소계,"39,952","13,442","265,017","152,717","112,300",3,17,...,89,"15,658",850,"13,504",744,"15,888",909,"6,227","2,448","7,672"
2,2018,종로구,사직동,"3,541","1,191","49,536","28,658","20,878",1,14,...,19,"6,312",86,967,103,870,95,"1,544",252,843
3,2018,종로구,삼청동,712,324,"4,577","2,193","2,384",-,-,...,4,"1,204",14,260,7,30,17,175,24,209
4,2018,종로구,부암동,565,240,"3,609","1,706","1,903",-,-,...,3,59,40,"1,424",15,148,16,40,83,362

In [23]:
sgg_biz_df[['JACHIGU', 'GYE', 'SAEOPCHESU_1']]

    JACHIGU        GYE SAEOPCHESU_1
0        합계  5,210,936      823,385
1       종로구    265,017       39,952
2       종로구     49,536        3,541
3       종로구      4,577          712
4       종로구      3,609          565
..      ...        ...          ...
445     강동구        341           19
446     강동구      9,718        1,601
447     강동구      5,756        1,916
448     강동구     14,933        3,736
449     강동구     19,657        5,172

[450 rows x 3 columns]

In [25]:
sgg_biz_df = pd.read_csv('C:/Users/jhjh3/class/datasalon-master/02_data_class/6_Starbucks_Location/files/report2.txt', header = 2, sep = '\t')
sgg_biz_df.head()

condition2 = sgg_biz_df['동'] == '소계'
sgg_biz_df_selected = sgg_biz_df[condition2]

sgg_biz_df_final = sgg_biz_df_selected[['자치구', '계', '사업체수']]
sgg_biz_df_final.head()

    자치구        계    사업체수
1   종로구  265,017  39,952
19   중구  390,530  60,957
35  용산구  141,216  20,813
52  성동구  174,819  27,868
70  광진구  127,879  24,535

In [26]:
sgg_biz_df_final = sgg_biz_df_final.reset_index(drop = True)
sgg_biz_df_final.head()

   자치구        계    사업체수
0  종로구  265,017  39,952
1   중구  390,530  60,957
2  용산구  141,216  20,813
3  성동구  174,819  27,868
4  광진구  127,879  24,535

In [28]:
sgg_biz_df_final.to_excel('./sgg_biz_class.xlsx')

In [29]:
seoul_starbucks_list_class = pd.read_excel('./seoul_starbucks_list_class.xlsx')
seoul_starbucks_list_class

,매장명,위도,경도,매장타입,주소,전화번호
0,송파마천사거리DT,37.499829,127.147672,generalDT,서울특별시 송파구 거마로 78 (마천동),1522-3232
1,송파KT,37.513999,127.106303,general,"서울특별시 송파구 잠실로 209 (신천동), 오피스빌딩 1층 2~4호",1522-3232
2,몽촌토성역,37.516913,127.113127,general,서울특별시 송파구 위례성대로 6 (방이동),1522-3232
3,송파NC,37.477876,127.125675,general,서울특별시 송파구 충민로 66 (문정동) 가든파이브라이프 패션관1층,1522-3232
4,가든파이브,37.478232,127.119370,general,서울특별시 송파구 충민로 10 (문정동) 가든파이브툴,1522-3232
5,가락시장역,37.494299,127.121354,general,"서울특별시 송파구 중대로 121, 롯데캐슬 파인힐 1층 (가락동)",1522-3232
6,석촌역,37.504263,127.106108,general,"서울특별시 송파구 백제고분로 358, 1층 (석촌동)",1522-3232
7,가락본동,37.494895,127.118785,general,서울특별시 송파구 송파대로30길 13 (가락동),1522-3232
8,올림픽아파트,37.515315,127.133237,general,서울특별시 송파구 양재대로 1222 (방이동),1522-3232
9,아시아선수촌,37.510590,127.079047,general,서울특별시 송파구 백제고분로 69 (잠실동),1522-3232
10,갤러리아팰리스,37.511084,127.093806,general,"서울특별시 송파구 올림픽로 212, 갤러리아 팰리스 (잠실동)",1522-3232
11,잠실역,37.515272,127.099231,general,"서울특별시 송파구 송파대로 562 (신천동, 웰리스타워,삼성웰리스아파트) 1층,2층",1522-3232
12,잠실새내역,37.511679,127.081062,general,서울특별시 송파구 올림픽로 96 (잠실동),1522-3232
13,잠실푸르지오월드,37.517649,127.103426,general,"서울특별시 송파구 올림픽로35가길 9, 잠실푸르지오월드마크 1층 (신천동)",1522-3232
14,석촌호수,37.509581,127.104993,general,서울특별시 송파구 석촌호수로 262 (송파동),1522-3232
15,방이역,37.508666,127.126569,general,"서울특별시 송파구 마천로 53, 1~2층 (오금동)",1522-3232
16,올림픽공원남문,37.513300,127.123113,general,서울특별시 송파구 위례성대로 102 (방이동),1522-3232
17,올림픽훼미리,37.491626,127.116308,general,서울특별시 송파구 중대로 68 (문정동),1522-3232
18,문정로데오,37.491905,127.126270,general,서울특별시 송파구 동남로 141 (가락동),1522-3232
19,석촌서호,37.506393,127.096468,general,서울특별시 송파구 석촌호수로 176 (삼전동),1522-3232
20,송파사거리,37.502279,127.110390,general,서울특별시 송파구 송파대로 386 (송파동),1522-3232
21,송파아이파크,37.479892,127.122379,general,서울특별시 송파구 법원로 55 (문정동),1522-3232
22,올림픽평화의문,37.515643,127.116482,general,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트,1522-3232
23,송파구청,37.514573,127.107404,general,서울특별시 송파구 오금로 87 (방이동),1522-3232
24,송파방이DT,37.506564,127.120495,generalDT,서울특별시 송파구 오금로 241 (방이동),1522-3232
25,송파위례,37.478264,127.144067,general,"서울특별시 송파구 위례광장로 230 (장지동, 위례2차아이파크)",1522-3232
26,잠실대교남단R,37.515511,127.099006,reserve,서울특별시 송파구 송파대로 570 타워 730 1층,1522-3232
27,문정역,37.484813,127.122237,general,"서울특별시 송파구 송파대로 167 (문정동)테라타워 B동 137호~139호,204호",1522-3232
28,문정하비오,37.481925,127.123446,general,"서울특별시 송파구 송파대로 111 (문정동, 파크하비오) 204동 104호~107호",1522-3232
29,송파개롱역,37.496956,127.136520,general,서울특별시 송파구 오금로 420 (가락동),1522-3232
30,문정법원로R,37.487447,127.119164,reserve,서울특별시 송파구 송파대로 201 (문정동),1522-3232
31,잠실시그마타워,37.514567,127.102493,general,서울특별시 송파구 올림픽로 289 (신천동),1522-3232
32,송파헬리오시티,37.497856,127.103133,general,"서울특별시 송파구 송파대로 345 (가락동, 헬리오시티)",1522-3232
33,송파나루역DT,37.510793,127.110266,generalDT,서울특별시 송파구 오금로 142 (송파동),1522-3232

In [30]:
seoul_starbucks_list_class['주소']

0                             서울특별시 송파구 거마로 78 (마천동)
1             서울특별시 송파구 잠실로 209 (신천동), 오피스빌딩 1층 2~4호
2                            서울특별시 송파구 위례성대로 6 (방이동)
3             서울특별시 송파구 충민로 66 (문정동)  가든파이브라이프 패션관1층
4                      서울특별시 송파구 충민로 10 (문정동) 가든파이브툴
5               서울특별시 송파구 중대로 121, 롯데캐슬 파인힐 1층 (가락동)
6                      서울특별시 송파구 백제고분로 358, 1층 (석촌동)
7                         서울특별시 송파구 송파대로30길 13 (가락동)
8                          서울특별시 송파구 양재대로 1222 (방이동)
9                           서울특별시 송파구 백제고분로 69 (잠실동)
10                서울특별시 송파구 올림픽로 212, 갤러리아 팰리스 (잠실동)
11    서울특별시 송파구 송파대로 562 (신천동, 웰리스타워,삼성웰리스아파트) 1층,2층
12                           서울특별시 송파구 올림픽로 96 (잠실동)
13         서울특별시 송파구 올림픽로35가길 9, 잠실푸르지오월드마크 1층 (신천동)
14                         서울특별시 송파구 석촌호수로 262 (송파동)
15                      서울특별시 송파구 마천로 53, 1~2층 (오금동)
16                         서울특별시 송파구 위례성대로 102 (방이동)
17                            서울특별시 송파구 중대로 68 (문정동)
18                           서울특별시 송파구 동남로 141 (가락동)
19                         서울특별시 송파구 석촌호수로 176 (삼전동)
20                          서울특별시 송파구 송파대로 386 (송파동)
21                            서울특별시 송파구 법원로 55 (문정동)
22                서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트
23                            서울특별시 송파구 오금로 87 (방이동)
24                           서울특별시 송파구 오금로 241 (방이동)
25               서울특별시 송파구 위례광장로 230 (장지동, 위례2차아이파크)
26                      서울특별시 송파구 송파대로 570 타워 730 1층
27    서울특별시 송파구 송파대로 167 (문정동)테라타워 B동 137호~139호,204호
28    서울특별시 송파구 송파대로 111 (문정동, 파크하비오) 204동 104호~107호
29                           서울특별시 송파구 오금로 420 (가락동)
30                          서울특별시 송파구 송파대로 201 (문정동)
31                          서울특별시 송파구 올림픽로 289 (신천동)
32                   서울특별시 송파구 송파대로 345 (가락동, 헬리오시티)
33                           서울특별시 송파구 오금로 142 (송파동)
Name: 주소, dtype: object

In [31]:
seoul_starbucks_list_class['주소'].str.split()[0][1]

'송파구'

In [32]:
sgg_names = []

for adress in seoul_starbucks_list_class['주소']:
    sgg = adress.split()[1]
    sgg_names.append(sgg)
    
seoul_starbucks_list_class['시군구명'] = sgg_names
seoul_starbucks_list_class.head()

,매장명,위도,경도,매장타입,주소,전화번호,시군구명
0,송파마천사거리DT,37.499829,127.147672,generalDT,서울특별시 송파구 거마로 78 (마천동),1522-3232,송파구
1,송파KT,37.513999,127.106303,general,"서울특별시 송파구 잠실로 209 (신천동), 오피스빌딩 1층 2~4호",1522-3232,송파구
2,몽촌토성역,37.516913,127.113127,general,서울특별시 송파구 위례성대로 6 (방이동),1522-3232,송파구
3,송파NC,37.477876,127.125675,general,서울특별시 송파구 충민로 66 (문정동) 가든파이브라이프 패션관1층,1522-3232,송파구
4,가든파이브,37.478232,127.119370,general,서울특별시 송파구 충민로 10 (문정동) 가든파이브툴,1522-3232,송파구

In [34]:
seoul_starbucks_list_class.to_excel('./seoul_starbuck_final_list.xlsx', index=False)

In [35]:
starbucks_sgg_count = seoul_starbucks_list_class.pivot_table(values = '매장명',
                           index = '시군구명',
                           aggfunc = 'count')

starbucks_sgg_count.rename(columns = {'매장명':'스타벅스_매장수'})
starbucks_sgg_count

      매장명
시군구명
송파구    34

In [36]:
sgg_count_df = pd.DataFrame(seoul_starbucks_list_class['시군구명'].value_counts())
sgg_count_df

     시군구명
송파구    34